body {
    margin-top: 250px;
    margin-bottom: 250px;
    margin-right: 250px;
    margin-left: 250px;
    font-size: 20px;
    font-style:"Times New Roman";
    
}

div {

text-align: justify; 

}


